/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

!.gitignore
!.mailmap

*.o
*.orig
*~
*.*~

hermes_lwt_l.dtb
*.gz-dtb
boot.zip
boot.img
boot.img-kernel

/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_adc.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_eint.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_eint.dtsi
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_clk_buf.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_eint_md1.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_gpio_boot.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_gpio_usage.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust.i2c.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_kpd.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/cust_power.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/pmic_drv.c
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/pmic_drv.h

/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_adc.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_eint.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_eint.dtsi
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_clk_buf.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_eint_md1.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_gpio_boot.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_gpio_usage.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust.i2c.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_kpd.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/cust_power.h
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/pmic_drv.c
/kernel-3.10/drivers/misc/mediatek/mach/mt6795/hermes/dct/dct/inc/pmic_drv.h

.config
.config.old
.version

build_results
*_ramdisk.img
*.patch
